@font-face
	font-family 'Open Sans'
	src url('/fonts/OpenSans.ttf')

transition()
	-webkit-transition arguments
	-khtml-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

html, body
	margin 0 auto
	padding 0

*
	outline none
	font-family 'Open Sans', Helvetica, sans-serif

a
	text-decoration none
