doctype html
html
	head
		title __name__
		link(rel='icon', href='/favicon.ico')
		link(rel='stylesheet', href='/css/__name__.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
		script(src='/js/jquery.min.js')
		script(src='/js/socket.io.min.js')
		script(src='/js/jade.min.js')
		block head
	body
		block content
