extends base

block head
	script(src='/js/index.js')

block content
	.navbar.navbar-default.navbar-static-top
		.container-fluid
			.navbar-header
				a.navbar-brand(href='') __name__
			.nav.navbar-nav
				li
					a(href='') Link
	#wrapper
		h1 Hello, World!
